---
interface Props {
	imgSrc: string;
	imgAlt: string;
	title: string;
	body: string;
	href: string;
	href2: string;
	href3: string;
	href4: string;
}

const { imgSrc, imgAlt, title, body, href, href2, href3, href4 } = Astro.props;
---

<div class="col-lg-4 col-md-6 mb-3 d-flex align-items-stretch">
	<div class="card">
		<img src={imgSrc} class="card-img-top" alt={imgAlt}/>
		<div class="card-body">
			<h5 class="card-title">{title}</h5>
			<p class="card-text">{body}</p>
			<a class="card-link" href={href} title={title}>Ulster</a>
			<a class="card-link" href={href2} title={title}>Munster</a>
			<a class="card-link" href={href3} title={title}>Leinster</a>
			<a class="card-link" href={href4} title={title}>Connacht</a>
		</div>
	</div>
</div>

<style>
</style>
